
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
 <body>
   <form action="" method="">
    {% csrf_token %}
    <h1>Welcome to Dashboard</h1>
    <p>Sign Up first before login, in case you haven't registered yet</p>
    <button type="submit"><a href="/register">Sign Up</a></button>
    <button type="submit"><a href="/login/">Login</a></button>
   
    
   

    </form>

 </body>
</html>